:root {
	--color-white: #fff;
	--color-black: #000;
	--color-primary: #1d7c88;
	--color-secondary: #8d6c93;
	--color-lightest-gray: #f8f8f8;
	--color-light-gray: #eee;
	--color-mid-gray: #acacac;
	--color-dark-gray: #646464;
	--color-success: #1fc900;
	--color-error: #df5c4e;
}