---
import type Page from "../types/page.interface";
import { getPages } from "../api/wordpress/pages";
import Layout from "../layouts/Layout.astro";
import Blocks from "../components/Blocks.astro";

export const prerender = true;

export async function getStaticPaths() {
	const pages = await getPages('');

	const paths = pages.map((page) => {
		const uri = new URL(page.link).pathname.replace(/^\/|\/$/g, '');

		return {
			params: {
				uri,
				//lang: page.lang,
			},
			props: {
				page
			}
		}
	});
	return paths;
}
interface Props {
  page: Page;
}
const { page } = Astro.props;
---
<Layout
	yoast={page.yoast_head_json}
>
	<article>
		<h1>{page.title.rendered}</h1>
		{
			page.has_blocks ? (
				<Blocks blocks={page.block_data} />
			) : (
				<div set:html={page.content.rendered}></div>
			)
		}
	</article>
</Layout>