---
import type Page from "../types/page.interface";
import { getPages } from "../api/wordpress/pages";
import Layout from "../layouts/Layout.astro";

export const prerender = true;

export async function getStaticPaths() {
	const pages = await getPages();

	return pages.map((page) => {
		return {
			params: {
				slug: page.slug
			},
			props: {
				page
			}
		}
	});
}

interface Props {
  page: Page;
}
const { page } = Astro.props;
---
<Layout
	yoast={page.yoast_head_json}
>
	<article>
		<h1>{page.title.rendered}</h1>
		<div set:html={page.content.rendered}></div>
	</article>
</Layout>