---
import Layout from '../layouts/Layout.astro';
import { getProducts } from '../api/wordpress/products';
import { getPages } from '../api/wordpress/pages';
import ProductCard from '../components/ProductCard.astro';
import PageCard from '../components/PageCard.astro';

const products = await getProducts();
const pages = await getPages();
---

<Layout title="Welcome to Astro.">
	<main>
		<h2>Pages</h2>
		{
			pages.map(page => {
				return (
					<PageCard page={page} />
				)
			})
		}
		<h2>Products</h2>
		{
			products.map(product => {
				return (
					<ProductCard product={product} />
				)
			})
		}
	</main>
</Layout>

<style>
</style>
